
<!DOCTYPE html>
<html>
<head>
  <style>
    #mi-elemento-fijo {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #f1f1f1;
      padding: 20px;
    }
  </style>
</head>
<body>
  <div id="mi-elemento-fijo">
    {% extends "App1/padre.html" %}
  </div>
    {% block contenidoQueCambia %}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Curso</title>
</head>
<style>
    #contenedor-formulario {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Ajusta la altura según tus necesidades */
    }
  </style>
<body>
<div id="contenedor-formulario">
        <!-- Tu formulario aquí -->

        <body>
            {% if miFormulario.errors %} 
            
            <p style="color: red;"> Datos incorrectos, Ingrese nuevamente.</p>
            
            {% endif %}
        
            <form action="" method="post">{% csrf_token %}
                <!-- Aca esta la magia de Django-->
                <table>
        
                    {{ miFormulario.as_table }}
        
                </table>
        
                <input type="submit", value="Enviar">
                
             </form>   
        </body>
</div>
</html>
    {% endblock %}
